.quadra1 {
    background-color: red;
    width:250px;
    height:250px;
    position:absolute; 
    top:0px; 
    left:0px;

}
.quadra2 {
    background-color: yellow;
    width:250px;
    height:250px;
    position:absolute; 
    top:0px;
    left:1150px;
}
.quadra3 {
    background-color:green;
    width:250px;
    height:250px;
    position:absolute; 
    top:490px;
    left:0px;
}
.quadra4 {
    background-color: blue;
    width:250px;
    height:250px;
    position:absolute; 
    top:490px;
    left:1150px;
}

.image {
	position:absolute; 
    top:250px; 
    left:550px;
}